<html>
    <head>
        <title>
            head
        </title>
    </head>
    <body>
        <script>
            function demo(){
                var i = document.getElementById("hi").value;
                i = i/10;
                i = i/2;
                document.getElementById("a").innerHTML=i;
            }
        </script>
        <form>
        <input type="number" id="hi"/>
        <input type="submit" onclick="demo()" value="click">
       
    </form>
        <p id="a">

        </p>
    </body>
</html>